body {
  padding-left: 24px;
}

[grid] {
  flex-wrap: wrap;
  margin-left: inherit;
  margin-right: inherit;
}

.header {
  background-color: #d0d0d038;
  border-radius: 5px;
  padding: 5px;
  margin-right: 1em;
}

.header-id, .header-datatype, .header-tags {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
  margin: 0.1em;
  cursor: pointer;
  font-size: medium;
  font-variant: small-caps;
}

.header-datatype {
/*    */
}

.header-tags {
/*    */
}

.card-box {
  border: 1px solid darkgray;
  border-radius: 5px;
  padding: 5px;
  margin: 0.5em;
  width: 180px;
  height: 11em;
  overflow: hidden;
}

.button-group {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-group > li {
  list-style: none;
  border: 1px solid #DCDCDC;
  font-size: 0.83333rem;
}

.button-group > li:first-child {
  border-radius: 3px 0 0 3px;
}

.button-group > li:last-child {
  border-radius: 0 3px 3px 0;
}

.button-group > li:not(:last-child) {
  border-right: 0;
}

.button-group .item {
  display: inline-block;
  line-height: 1.5rem;
  padding: 0 1em;
  -webkit-transition: background-color 150ms;
  transition: background-color 150ms;
}

.button-group .item:hover, .button-group .item:focus {
  background-color: #f5f5f5;
}

.button-group .item.-active {
  background-color: #f5f5f5;
  color: #777;
}

.header-id::before {
  content: "id ";
  font-weight: bold;
  color: darkgray;
}

.card-hidden {
  display: none;
}

.card-highlight {
  border: 3px solid green;
}

.file-data {
  height: 150px;
  overflow: auto;
}

[data-type="snd"] {
  width: auto;
}

video {
  width: inherit;
}

/*#tagbox {
  display: none;
  top: 0;
  position: absolute;
}*/

.tag-box {
  background-color: #f5f5f5;
  color: #777;
  border-radius: 0.2em;
  display: inline-block;
  font-size: 83.33333%;
  padding: 0 0.5em;
  font-weight: normal; }
  .tag-box.-pill {
    border-radius: 2em; }
  .tag-box.-muted {
    background-color: rgba(238, 238, 238, 0.15);
    color: #d5d5d5; }
  .tag-box.-success {
    background-color: rgba(16, 168, 135, 0.15);
    color: #0c7962; }
  .tag-box.-warning {
    background-color: rgba(241, 127, 66, 0.15);
    color: #ed5f13; }
  .tag-box.-error {
    background-color: rgba(218, 60, 60, 0.15);
    color: #bf2424; }

.modal--show {
  margin-top: 0;
}

#tagbox .tag-box {
  font-size: 100%;
  margin: 0.3em;
  padding: 0.5em;
}

h1 {
  margin-bottom: 1em;
}

h2 {
  margin-top: 1em;
}

.data-container {
  margin-left: 1em;
}

.tag-cloud {
  margin-top: 0.2em;
}

#tag-cloud {
  margin-left: 1em;
}

.assoc-modal {
  display: none;
}

.h3-tag {
  cursor: pointer;
}

.text-data {
  height: 11em;
  overflow: auto;
}

.info-title {
  font-weight: bold;
}

.info-content {
  font-variant: small-caps;
}
